<div class="row" id='result-legend'>
    <div class="col-md-6">
        <div class="accordion-container">
            <div id="accordion1" class="panel-icon" role="tablist" aria-multiselectable="true">
                <div class="card">
                    <div class="card-header" role="tab" id="headingSeven">
                    <h5 class="mb-0"><a data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">CONTENT IN ACCORDIONS</a></h5>
                    </div>
                    <div id="collapseSeven" class="collapse show" role="tabpanel" aria-labelledby="headingSeven">
                        <div class="card-block">
                            <p>Indulgence announcing uncommonly met she continuing two unpleasing terminated. Now busy say down the shed eyes roof paid her. Of shameless collected suspicion existence in. Share walls stuff think but the arise guest. Course suffer to do he sussex it window advice. Yet matter enable misery end extent common men should. Her indulgence but assistance favourable cultivated everything collecting.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="headingEight">
                        <h5 class="mb-0"><a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight" aria-expanded="false" aria-controls="collapseTwo">SLICK ORGANIZED CONTENT</a></h5>
                    </div>
                        <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight">
                        <div class="card-block">
                            <p>Indulgence announcing uncommonly met she continuing two unpleasing terminated. Now busy say down the shed eyes roof paid her. Of shameless collected suspicion existence in. Share walls stuff think but the arise guest. Course suffer to do he sussex it window advice. Yet matter enable misery end extent common men should. Her indulgence but assistance favourable cultivated everything collecting.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="accordion-container">
            <div id="accordion2" class="panel-icon" role="tablist" aria-multiselectable="true">
                <div class="card">
                    <div class="card-header" role="tab" id="headingSeven">
                    <h5 class="mb-0"><a data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">CONTENT IN ACCORDIONS</a></h5>
                    </div>
                    <div id="collapseSeven" class="collapse show" role="tabpanel" aria-labelledby="headingSeven">
                        <div class="card-block">
                            <p>Indulgence announcing uncommonly met she continuing two unpleasing terminated. Now busy say down the shed eyes roof paid her. Of shameless collected suspicion existence in. Share walls stuff think but the arise guest. Course suffer to do he sussex it window advice. Yet matter enable misery end extent common men should. Her indulgence but assistance favourable cultivated everything collecting.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="headingEight">
                        <h5 class="mb-0"><a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight" aria-expanded="false" aria-controls="collapseTwo">SLICK ORGANIZED CONTENT</a></h5>
                    </div>
                        <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight">
                        <div class="card-block">
                            <p>Indulgence announcing uncommonly met she continuing two unpleasing terminated. Now busy say down the shed eyes roof paid her. Of shameless collected suspicion existence in. Share walls stuff think but the arise guest. Course suffer to do he sussex it window advice. Yet matter enable misery end extent common men should. Her indulgence but assistance favourable cultivated everything collecting.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>